# files for the dex VM
*.dex

# Java class files
*.class

# generated  files
Venestra-Client/bin/
Venestra-Desktop/bin/
Venestra-Engine/bin/
Venestra-Server/bin/
gen/

# Local configuration file (sdk path, etc)
local.properties
/.settings
